@{
    ViewData["Title"] = "View Tasks";
}

@model List<ToDoList>
<!-- this page displays the quadrant of tasks w/ edit and delete options -->

<h3>Here are the Quadrants!</h3>

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Task</td>
            <td>Due Date</td>
            <td>Quadrant</td>
            <td>Category</td>
            <td>Completed</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Task</td>
                <td>@x.Date</td>
                <td>@x.Quadrant</td>
                <td>@x.Category.CategoryName</td>
                <td>@x.IsCompleted</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>

            </tr>
        }
    </tbody>
</table>
